<a href="https://colab.research.google.com/github/jaehun5708/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [ ]:
data =input()
lines = data.split()
print(lines)

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [ ]:
data=['Geeks', 'for', 'Geeks']
lines='-'.join(data)
print(lines)

Geeks-for-Geeks

In [ ]:
squares = [x**2 for x in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
x=["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
squares = [a for a in x if a[0]=='S']
print(squares)

['Seoul', 'Shanghai']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
k = ['a', 'b', 'c']
for o, x in enumerate(k):
  print("fruit"+str(o),"name is",x)

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [ ]:
k = ['a', 'b', 'c']
for o in range(len(k)):
  print("fruit"+str(o),"name is",k[o])

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [ ]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [ ]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]

print(dict(zip(name,roll_no)))

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [ ]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
dicts = dict(zip(names,ages))
for a,b in enumerate(dicts):
  print(a,b,dicts[b])

0 M 24
1 R 50
2 C 18

In [ ]:
x=int(input())
y=int(input())
add=lambda x,y: x+y
print(add(x,y))

5
1
6

In [ ]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x*2, numbers))
print(squared) # [2, 4, 6, 8]

[2, 4, 6, 8]

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]
add=lambda num1,num2:num1+num2
map()

In [ ]:
a,b,c = map(int,input().split())
if (a==b)or(b==c)or(a==c):
  print("wrong value")
else:
  if a>b>c:
    print(a,b,c)
  elif a>c>b:
    print(a,c,b)
  elif b>a>c:
    print(b,a,c)
  elif b>c>a:
    print(b,c,a)
  elif c>a>b:
    print(c,a,b)
  else:
    print(c,b,a)

5 2 8
8 5 2

In [ ]:
a=int(input())
print(str(a//3600)+"시",str((a%3600)//60)+"분",str(a%60)+"초")

11730
3시 15분 30초